---
layout: default
---

<h1>{{page.title}}</h1>

<div id="detail-viewer"></div>

<div id="inputs"></div>

<button onclick="detailView.export('stl', document.getElementById('download'))">Generate STL</button>
<div id="download"></div>

<script>

    var design = {
        title: {{page.title | jsonify}},
        updated: {{page.updated | jsonify}},
        author: {{page.author | jsonify}},
        version: {{page.version | jsonify}},
        dependencies: {{page.dependencies | jsonify}},
        image: {{page.image | jsonify}},
        camera: {{page.camera | jsonify}}
    };

    var detailView = new JscadGallery.DesignView();
    detailView.loadPreview(document.getElementById('detail-viewer'), design, document.getElementById('inputs'));
    detailView.load(design);
    
</script>
    